body,
html {
  height: 100%;
}
.bg {
  background-image: url("bkgrnd.jpg");
  min-height: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
